{% extends "base.html" %}
{% load static %}

{% block page_title %}  My Blog {% endblock  %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/index.css" %}">
  <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock  %}

{% block content %}


  <section id="welcome">
    <header>
      <img src="https://your-vercel-app.vercel.app/files/Nazir.jpg" alt="Nazir">
      <h2>Nazir's Blog</h2>
    </header>
    <p>Hi i am Nazir I love to blog about tech and the world!</p>
  </section>

  <section id="latest-posts">
    <h2>My latest thoughts</h2>
    <ul>
      {% for post in posts  %}
       {% include "blog/includes/posts.html" %}
     {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do ?</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, libero.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos nesciunt dolorem ipsum, dolores nihil porro!</p>
  </section>


{% endblock  %}
